<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
</head>
<body>
  <h1>Add User</h1>
  <form action="/users" method="post">
    <label for="uname">User Name</label>
    <input type="text" id="uname" name="name">
    <br><br>
    <label for="email">User Mail</label>
    <input type="text" name="email" id="email" required>
    <br><br>
    <label for="age">User Age</label>
    <input type="number" name="age" id="age">
    <br><br>
    <button type="submit">Add User</button>
  </form>
</body>
</html>