
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> All Users List</title>
</head>
<body>
  <h1>All Users</h1>
  <table border="2" cellpadding="8">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
       <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
       </tr>
      <% }) %>
    </tbody>
  </table>
  
</body>
</html>